<ul>
  <% @songs.each do  |song| %>
    <li>
      <a href=<%=song_path(song)%> >
        <p>
        <%= song.name %>
      </p>
      </a>
      by
      <a href=<%=artist_path(song.artist)%> >
        <%= song.artist.name %>
      </a>
      in genre
      <a href=<%=genre_path(song.genre)%> >
        <%= song.genre.name %>
      </a>
    </li>
  <% end %>
</ul>
