<h1> <%= @song.name %>  </h1>
  by
  <a href=<%=artist_path(@song.artist) %> >
    <%= @song.artist.name %>
  </a>
  in genre
  <a href=<%=genre_path(@song.genre) %> >
    <%= @song.genre.name %>
  </a>
